* {
  font-family: "Josefin Sans", sans-serif;
}

h1{
  text-align: center;
  margin: 5%;
}

#ppal {
  display: flex;
  justify-content: space-around;
}

section{
  margin: 3%;
  text-align: center;
}

form{
  margin: 2%;
  display: flex;
  }


